* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #3f543e;
  --secondary-color: #121212;
}
@font-face {
  font-family: Chillax-Regular;
  src: url("./assests/Chillax-Regular.otf");
}
@font-face {
  font-family: Chillax-SemiBold;
  src: url("./assests/Chillax-Semibold.otf");
}
@font-face {
  font-family: Chillax-Medium;
  src: url("./assests/Chillax-Medium.otf");
}

/*==========================
Common Tags 
============================*/

.container-1 {
  max-width: 1860px;
  padding: 0 20px;
  width: 100%;
  margin: auto;
}
.container-2 {
  max-width: 1502px;
  padding: 0 20px;
  width: 100%;
  margin: auto;
}
body {
  font-family: Chillax-Regular;
  font-size: 16px;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
.primary-btn {
  padding: 20px 40px;
  border-radius: 31px;
  background-color: var(--primary-color);
  color: white;
  display: flex !important;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--primary-color);
  width: fit-content;
}
.primary-btn:hover {
  background-color: white;
  color: var(--primary-color);
}
.primary-btn > .white-arrow {
  width: 23.5px;
}
.primary-btn > .black-arrow {
  width: 23.5px;
  display: none;
}
.primary-btn:hover > .white-arrow {
  display: none;
}
.primary-btn:hover > .black-arrow {
  display: block;
}
.secondary-btn {
  padding: 20px 32px;
  border-radius: 31px;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  gap: 7px;
  border: 1px solid var(--primary-color);
  width: fit-content;
}
.secondary-btn > .white-arrow {
  width: 23.5px;
  display: none;
}
.secondary-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
.secondary-btn:hover > .white-arrow {
  display: block;
}
.secondary-btn:hover > .black-arrow {
  display: none;
}
.active {
  position: relative;
}
.active > a {
  color: var(--primary-color);
}
.active::after {
  content: "";
  width: 10.5px;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
}
.subtitle {
  font-family: Chillax-SemiBold;
  text-transform: uppercase;
  font-size: 16px;
  width: fit-content;
  color: var(--primary-color);
}
.title-1 {
  font-size: 70px;
  text-transform: capitalize;
  font-family: Chillax-Medium;
}
.title-2 {
  font-size: 55px;
  font-family: Chillax-Medium;
  text-transform: capitalize;
}
.white {
  color: white;
}
.subtitle-right-arrow-white {
  display: inline-block;
  width: 29.5px;
  margin-left: 6px;
}
.subtitle-right-arrow-black {
  display: inline-block;
  width: 29.5px;
  margin-left: 6px;
}
.subtitle-left-arrow-black {
  display: inline-block;
  width: 29.5px;
  margin-right: 6px;
}
.primary-color {
  color: var(--primary-color);
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -15px;
}
.col-3_5 {
  width: calc(8.33% * 3.5);
  padding: 0 15px;
}
.col-2_5 {
  width: calc(8.33% * 2.5);
  padding: 0 15px;
}
.col-6 {
  width: 50%;
  padding: 0 15px;
}
.col-4 {
  width: calc(8.33% * 4);
  padding: 0 15px;
}
.col-3 {
  width: calc(8.33% * 3);
  padding: 0 15px;
}
.black-arrow {
  width: 23.5px;
}

/*==========================
Navbar 
============================*/

.navbar-sec {
  padding: 10px 0 7px;
}
.navbar-collapsed,
nav,
.navbar-collapsed > ul,
.nav-btns {
  display: flex;
  align-items: center;
}
.nav-logo {
  width: 74px;
}
.navbar-sec label {
  display: none;
}
.navbar-collapsed {
  flex-grow: 1;
}
.navbar-collapsed > ul {
  margin-left: auto;
}
.nav-link {
  margin-right: 37px;
}
.nav-link > a:hover {
  color: var(--primary-color);
}
.nav-link:nth-child(5) {
  margin-right: 30px;
}
.nav-btns {
  gap: 12px;
}
.navbar-collapsed .user-icon {
  width: 24px;
  height: 24px;
}
.navbar-collapsed .dropdown-arrow {
  width: 9px;
}
.navbar-secondary-btn {
  padding: 20px 32px;
  border-radius: 31px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  gap: 7px;
  width: fit-content;
}

/* =======================
Banner Section
========================== */

.banner {
  background: url("./assests/banner-bg-img.png") center/cover no-repeat;
  min-height: 810px;
  padding: 37px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: white;
}
.banner-left-btn,
.banner-right-btn {
  height: 72px;
  width: 72px;
  border-radius: 50%;
}
.banner-text-box {
  margin-left: 66px;
  flex-basis: 100%;
}
.banner-sec .title-1 {
  margin: 7px 0 16px;
}
.banner-para {
  max-width: 589px;
  margin-bottom: 26px;
}

/*======================
About Section
========================*/

.about-sec {
  padding: 100px 0;
  color: var(--secondary-color);
}
.about-sec .row {
  margin: 0 -11px;
}
.about-col {
  padding: 0 11px;
}
.about-col .img-card {
  border-radius: 30px;
}
.about-sec .text-card {
  max-width: 563px;
  margin: auto;
}
.about-sec .para-1 {
  margin-bottom: 14px;
  max-width: 521px;
}
.about-paras {
  margin: 11px 0 30px;
}

/* ======================
Services Sction
======================== */

.services-sec {
  padding: 100px 0;
  background-color: #fafafa;
  color: var(--secondary-color);
}
.services-sec-heading {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
}
.services-heading-left-part {
  width: fit-content;
}
.services-heading-right-part {
  max-width: 461px;
}
.services-sec .card-heading {
  font-size: 20px;
  font-family: Chillax-SemiBold;
  margin-bottom: 12px;
}
.services-card {
  background-color: white;
  padding: 25px 25px 39px;
  border-radius: 20px;
  box-shadow: 0 6px 71px #d7d7d7;
}
.services-card-img {
  border-radius: 20px;
}
.services-card-logo {
  width: 50px;
  height: 50px;
  margin: 18px 0 13px;
}
.secondary-service-card {
  background-color: var(--primary-color);
  color: white;
  position: relative;
  z-index: 1;
}
.services-btn {
  width: fit-content;
  margin: 40px auto 0;
  position: relative;
  z-index: 1;
}

/* ====================
Clients Section
======================= */

.clients-sec {
  padding: 100px 0;
  color: var(--secondary-color);
}
.clients-sec .subtitle {
  margin: auto;
}
.clients-sec .title-2 {
  text-align: center;
  margin: 7px 0 13px;
}
.clients-slider {
  max-width: 620px;
  margin: auto;
}
.clients-slider-card {
  height: 132px;
  filter: grayscale(1);
  opacity: 0.5;
  transition: 0.3s linear;
  transform: scale(0.47);
}
.slick-start .clients-slider-card {
  transform-origin: right center;
}
.slick-end .clients-slider-card {
  transform-origin: left center;
}
.slick-left .clients-slider-card,
.slick-right .clients-slider-card {
  filter: grayscale(0.5);
  opacity: 0.8;
  transform: scale(0.7);
}
.slick-center .clients-slider-card {
  filter: grayscale(0);
  opacity: 1;
  transform: scale(1);
}
.clients-review-card {
  max-width: 803px;
  margin: auto;
  text-align: center;
  margin-top: 22px;
}
.clients-review-card p {
  line-height: calc(24 / 16);
}
.clients-review-card h3 {
  font-family: Chillax-SemiBold;
  margin: 26px 0 2px;
}
.clients-review-card h4 {
  font-family: Chillax-Medium;
}
.clients-sec .clients-slider .slick-prev {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  box-shadow: 0 4px 44px #c5cbc5;
  left: -175px;
  top: 100%;
  z-index: 999;
}
.clients-sec .clients-slider .slick-next {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  box-shadow: 0 4px 44px #c5cbc5;
  right: -175px;
  top: 100%;
  z-index: 999;
}
.clients-sec .clients-slider .slick-prev::before,
.clients-sec .clients-slider .slick-next::before {
  content: "";
  background: url("./assests/client-slider-right-arrow.png") no-repeat
    center/cover;
  display: inline-block;
  width: 8px;
  height: 16px;
}
.clients-sec .clients-slider .slick-prev::before {
  transform: rotate(180deg);
}
.clients-sec .clients-review-slider .slick-prev,
.clients-sec .clients-review-slider .slick-next {
  display: none;
}

/*==============================
  Clients Responsive
================================*/

@media screen and (max-width: 1200px) {
  .clients-sec .clients-slider .slick-next {
    right: -130px;
    top: 65%;
  }
  .clients-sec .clients-slider .slick-prev {
    left: -130px;
    top: 65%;
  }
}
@media screen and (max-width: 992px) {
  .clients-sec .clients-slider .slick-next {
    right: -40px;
    top: 50%;
  }
  .clients-sec .clients-slider .slick-prev {
    left: -40px;
    top: 50%;
  }
}
@media screen and (max-width: 768px) {
  .clients-sec .clients-slider .slick-next,
  .clients-sec .clients-slider .slick-prev {
    height: 45px;
    width: 45px;
  }
  .clients-slider {
    max-width: 375px;
  }
  .clients-sec .clients-slider .slick-next {
    right: -80px;
  }
  .clients-sec .clients-slider .slick-prev {
    left: -80px;
  }
}
@media screen and (max-width: 576px) {
  .clients-slider {
    max-width: 165px;
  }
  .clients-sec .clients-slider .slick-next {
    right: -65px;
  }
  .clients-sec .clients-slider .slick-prev {
    left: -65px;
  }
}

/* ============================
Streamline Section
=============================== */

.streamline-card {
  padding: 61px 180px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.streamline-card .title-2 {
  line-height: 55px;
  margin-top: 7px;
}
.streamline-sec .subtitle{
  color: white ;
}
.streamline-left-part {
  max-width: 472px;
}
.streamline-right-part {
  max-width: 461px;
}
.streamline-card .secondary-btn {
  margin-top: 25px;
  border: 1px solid white;
}

/* ===========================
Footer Section 
=============================*/

.footer-sec {
  padding: 85px 0 50px;
}
.footer-sec .row {
  align-items: normal;
  margin-bottom: 72px;
}
.footer-card {
  width: fit-content;
}
.footer-sec .col-3:nth-child(2) > .footer-card,
.footer-sec .col-3:nth-child(3) > .footer-card {
  margin: auto;
}
.footer-sec .col-3:nth-child(4) > .footer-card {
  margin-left: auto;
}
.footer-sec .brand-logo {
  width: 82px;
  height: 101px;
  margin-bottom: 17px;
}
.footer-para {
  max-width: 297px;
}
.footer-card-heading {
  font-size: 20px;
  font-family: Chillax-Medium;
  margin-bottom: 45px;
  text-transform: capitalize;
  position: relative;
}
.footer-card-heading::after {
  content: "";
  width: 52px;
  height: 1px;
  background-color: #121212;
  position: absolute;
  bottom: -19.5px;
  left: 0;
}
.footer-link {
  line-height: 27px;
  margin-bottom: 9px;
}
.footer-link > a:hover {
  color: var(--primary-color);
}
.last-footer-link {
  margin-bottom: 0;
}
.footer-comp-link:hover {
  color: var(--primary-color);
}
.social-logos-row {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.social-logos-row .social-logo {
  height: 52px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #303030;
}
.social-logos-row .social-logo-img {
  height: 19px;
}
.footer-bottom {
  background-color: #f3f3f3;
  border-radius: 10px;
  text-align: center;
  padding: 12px 0;
}
